header{

    height: 50px;
    border-bottom: 1px;
    background: antiquewhite;
}
main {
    min-height: 500px;
    height: 500px;
}
footer {
    background: azure;
    min-height: 30px;
}
#navigate_map {
    width: 120px;
    height: 500px;
    bottom: 32px;
    padding: 10px;
    top: 52px;
    background: burlywood;
    border-right: 1px;
}
#content {
    top: 52px;
    height: 500px;
    left: 122px;
    bottom: 32px;
    padding: 10px;
    border-left: 1px;
}

#header h1 {
    left: 20px;
}
#authenticate {
    position: absolute;
    width: 120px;
    right: 20px;
    top: 20px;
}
#login, #basket_button {
    width: 60px;
    right: 80px;
}
#registration, #logout {
    width: 60px;
    right: 20px;
}


